@import "tailwindcss";

:root {
  --font-be-vietnam-pro: "Be Vietnam Pro", sans-serif;

  /* Sections */

  /* Hero */
  --hero-bg: oklch(14.219% 0.05835 29.223);
  --hero-text: oklch(93.663% 0.01194 29.17);
  --hero-primary: oklch(48.976% 0.20051 29.17);
  --hero-accents: oklch(30.976% 0.20051 29.17);

  /* About Me */
  --about-bg: oklch(16.351% 0.23416 309.844);
  --about-text: oklch(93.663% 0.01194 309.884);
  --about-primary: oklch(46.351% 0.23416 309.844);
  --about-accents: oklch(26.351% 0.23416 309.844);

  /* Projects */
  --projects-bg: oklch(5.512% 0.24212 265.452);
  --projects-text: oklch(93.663% 0.01194 265.452);
  --projects-primary: oklch(35.512% 0.24212 265.452);
  --projects-accents: oklch(15.512% 0.24212 265.452);

  /* Toolkit */
  --toolkit-bg: oklch(38.32% 0.1161 201.394);
  --toolkit-text: oklch(93.663% 0.01194 201.394);
  --toolkit-primary: oklch(68.32% 0.1161 201.394);
  --toolkit-accents: oklch(48.32% 0.1161 201.394);

  /* Experience */
  --experience-bg: oklch(37.635% 0.22824 142.212);
  --experience-text: oklch(93.663% 0.01194 142.212);
  --experience-primary: oklch(67.635% 0.22824 142.212);
  --experience-accents: oklch(47.635% 0.22824 142.212);
}

.main-header {
  font-family: var(--font-caveat), cursive;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -1px;
}

.section-header {
  font-family: var(--font-caveat), cursive;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

/* sm */
:root {
  --content-width: min(calc(100vw - 3rem), 37rem);
  --icon-size: 2rem;
}

/* md */
@media (min-width: 768px) {
  :root {
    --content-width: min(calc(100vw - 4rem), 44rem);
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --content-width: min(calc(100vw - 6rem), 58rem);
    --icon-size: 2.25rem;
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --content-width: min(calc(100vw - 8rem), 72rem);
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --content-width: min(calc(100vw - 8rem), 88rem);
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
}

@theme inline {
  --color-background: #121212;
  --color-foreground: #121212;
}

body {
  font-family: var(--font-be-vietnam-pro), sans-serif;
}
