@import "tailwindcss";

:root {
  --font-be-vietnam-pro: "Be Vietnam Pro", sans-serif;

  /* Sections */

  /* Hero */
  --hero-bg: #1c0000;
  --hero-text: #f2e7e5;
  --hero-primary: #b70101;
  --hero-accents: #770000;

  /* About Me */
  --about-bg: #2c0056;
  --about-text: #ece8f0;
  --about-primary: #8001b7;
  --about-accents: #460075;

  /* Projects */
  --projects-bg: #1a0052;
  --projects-text: #e6eaf2;
  --projects-primary: #0a01b7;
  --projects-accents: #1a0073;

  /* Toolkit */
  --toolkit-bg: #00535d;
  --toolkit-text: #e1eded;
  --toolkit-primary: #01aeb7;
  --toolkit-accents: #00707a;

  /* Experience */
  --experience-bg: #005900;
  --experience-text: #e6ece5;
  --experience-primary: #10b701;
  --experience-accents: #007700;
}

html,
body,
#__next {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#__next::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* sm */
:root {
  --content-width: min(calc(100vw - 3rem), 37rem);
}

p,
li {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/* md */
@media (min-width: 768px) {
  :root {
    --content-width: min(calc(100vw - 4rem), 44rem);
  }

  p,
  li {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --content-width: min(calc(100vw - 6rem), 58rem);
  }

  p,
  li {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --content-width: min(calc(100vw - 8rem), 72rem);
  }

  p,
  li {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --content-width: min(calc(100vw - 8rem), 88rem);
  }

  p,
  li {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
}

@theme inline {
  --color-background: #121212;
  --color-foreground: #121212;
}

body {
  font-family: var(--font-be-vietnam-pro), sans-serif;
}
