@import "tailwindcss";

:root {
  --font-be-vietnam-pro: "Be Vietnam Pro", sans-serif;

  /* Sections */

  /* Hero */
  --hero-bg: #1c0000;
  --hero-text: #f2e7e5;
  --hero-primary: #b70101;
  --hero-accents: #770000;

  /* About Me */
  --about-bg: #2c0056;
  --about-text: #ece8f0;
  --about-primary: #8001b7;
  --about-accents: #460075;

  /* Projects */
  --projects-bg: #1a0052;
  --projects-text: #e6eaf2;
  --projects-primary: #0a01b7;
  --projects-accents: #1a0073;

  /* Toolkit */
  --toolkit-bg: #00535d;
  --toolkit-text: #e1eded;
  --toolkit-primary: #01aeb7;
  --toolkit-accents: #00707a;

  /* Experience */
  --experience-bg: #005900;
  --experience-text: #e6ece5;
  --experience-primary: #10b701;
  --experience-accents: #007700;
}

.main-header {
  font-family: var(--font-caveat), cursive;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -1px;
}

.section-header {
  font-family: var(--font-caveat), cursive;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

/* sm */
:root {
  --content-width: min(calc(100vw - 3rem), 37rem);
  --icon-size: 2rem;
}

/* md */
@media (min-width: 768px) {
  :root {
    --content-width: min(calc(100vw - 4rem), 44rem);
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --content-width: min(calc(100vw - 6rem), 58rem);
    --icon-size: 2.25rem;
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --content-width: min(calc(100vw - 8rem), 72rem);
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --content-width: min(calc(100vw - 8rem), 88rem);
  }

  .main-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  .section-header {
    font-family: var(--font-caveat), cursive;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
}

@theme inline {
  --color-background: #121212;
  --color-foreground: #121212;
}

body {
  font-family: var(--font-be-vietnam-pro), sans-serif;
}
